version: '3.8'

services:
  backend:
    container_name: backend
    build:
      context: ${PROJECT_ROOT_PATH}
      dockerfile: deploy/backend.Dockerfile
    restart: always
    ports:
      - "8080:8080"
    networks:
      - backend_network
    depends_on:
      - sushi-db
    environment:
      - POSTGRES_HOST="sushi-db"
      - POSTGRES_PORT="5432"
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}

  #  frontend:
  #    container_name: frontend
  #    build:
  #      context: ${PROJECT_ROOT_PATH}
  #      dockerfile: deploy/frontend.Dockerfile
  #    restart: always
  #    ports:
  #      - "3000:3000"
  #    depends_on:
  #      - backend

  sushi-db:
    container_name: sushi-db
    image: postgres:14
    restart: always
    ports:
      - "5499:5432"
    networks:
      - backend_network
    volumes:
      - ${PROJECT_DATA_PATH}/postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}

  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9999:8080"
    networks:
      - backend_network
    environment:
      - DOZZLE_NO_ANALYTICS=true
      - DOZZLE_USERNAME=${DOZZLE_USERNAME}
      - DOZZLE_PASSWORD=${DOZZLE_PASSWORD}
      - DOZZLE_KEY=true

networks:
  backend_network:
    driver: bridge
